@(title: String)
<!DOCTYPE html>


<html>
<head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/login.css")">
    <!--bootstrap css-->
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script src="@routes.Assets.at("javascripts/hello.js")" type="text/javascript"></script>
    <script type="text/javascript"src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>

</head>
<body>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <p align="center">
                <img src="@routes.Assets.at("images/logo_blanco.png")" height="170" width="170">
                </p>
            </div>
        </div>
        <div class="row clearfix">
            <!--Log in div-->
            <div class="col-md-6 column">
                <!--Log in text div-->
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <h3>Log In</h3>
                    </div>
                </div>
                <!--email div-->
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <h5>ID Number</h5>
                        <input type="text" placeholder="Enter ID Number" class="form-control" aria-describedby="basic-addon1">
                    </div>
                </div>
                <!--password div-->
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <h5>Password</h5>
                        <input type="password" placeholder="Enter Password" class="form-control" aria-describedby="basic-addon1">
                    </div>
                </div>
                <br>
                <!--Buttom log in div-->
                <div class="row clearfix">
                    <div class="col-md-6 column">
                        <button type="button" class="btn btn-info">Log In</button>
                    </div>
                    <div class="col-md-6 column">
                        <button type="button" class="btn btn-link">Forgot your password?</button>
                    </div>
                </div>
            </div>
            <!--Sign up div-->
            <div class="col-md-6 column">
                <!--Sign up text div-->
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <h3>Sign Up</h3>
                    </div>
                </div>
                <!--Nombre completo div-->
                <div class="row clearfix">

                    <!--Nombre div-->
                    <div class="col-md-6 column">
                        <h5>First Name</h5>
                        <input type="text" placeholder="Enter First Name" class="form-control" aria-describedby="basic-addon1">
                    </div>
                    <!--Apellido div-->
                    <div class="col-md-6 column">
                        <h5>Last Name</h5>
                        <input type="text" placeholder="Enter Last Name" class="form-control" aria-describedby="basic-addon1">
                    </div>
                </div>
                <!--Email div-->
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <h5>Email</h5>
                        <input type="email" placeholder="Enter Email" class="form-control" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="row clearfix">
                    <!--ID Number div-->
                    <div class="col-md-6 column">
                        <h5>ID Number</h5>
                        <input type="text" placeholder="Enter ID Number" class="form-control" aria-describedby="basic-addon1">
                    </div>
                    <!--Speciality div-->
                    <div class="col-md-6 column">
                        <h5>Speciality</h5>
                        <select class="selectpicker">
                            <option value="cardiologist">Cardiologist</option>
                            <option value="radiologist">Radiologist</option>
                        </select>
                    </div>
                </div>
                <div class="row clearfix">
                    <!--Fecha nacimiento div-->
                    <div class="col-md-6 column">
                        <h5>Birth Date</h5>
                        <input data-provide="datepicker">
                    </div>
                    <!--Genero div-->
                    <div class="col-md-6 column">
                        <h5>Gender</h5>
                        <div class="col-md-6 column">
                            <h7><input type="radio" name="sex" value="male" checked> Male</h7>
                        </div>
                        <div class="col-md-6 column">
                            <h7><input type="radio" name="sex" value="female"> Female</h7>
                        </div>
                    </div>
                </div>
                <!--Password div-->
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <h5>Password</h5>
                        <input type="password" placeholder="Enter Password" class="form-control" aria-describedby="basic-addon1">
                        <h5>Confirm Password</h5>
                        <input type="text" placeholder="Re enter ID Number" class="form-control" aria-describedby="basic-addon1">
                    </div>
                </div>
                <br>
                <!--Buttom Sign up div-->
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <button type="button" class="btn btn-info">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
